@{
    ViewData["Title"] = "About";
}
<div class="container-fluid main-container" style="padding-bottom:20px">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 content">
            <img src="~/images/aboutus.png" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
</div>

<address>
    <h4>WardRobe.</h4>
    Vipod Residences Kuala Lumpur<br />
    <abbr title="Phone">P:</abbr>
    012-8906250
</address>

<address>
    <strong>Support:</strong> <a href="WardRobeSupport@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="WardRobeMarketing@example.com">Marketing@example.com</a>
</address>