@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Us</h2>


<address>
    <h4>WardRobe.</h4>
    Vipod Residences Kuala Lumpur<br />
    <abbr title="Phone">P:</abbr>
    012-8906250
</address>

<address>
    <strong>Support:</strong> <a href="WardRobeSupport@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="WardRobeMarketing@example.com">Marketing@example.com</a>
</address>
