@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Us</h2>

<h4 style="font-family:Courier New, Courier, monospace"> WardRobe.</h4>

<abbr title="Address">A:</abbr>
    Vipod Residences Kuala Lumpur
<br />
<abbr title="Phone">P:</abbr>
    012-8906250


<address>
    <strong>Support:</strong> <a href="WardRobeSupport@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="WardRobeMarketing@example.com">Marketing@example.com</a>
</address>
