@model IEnumerable<WardRobe.Models.Wardrobe>

@{
    ViewData["Title"] = "Home";
}

    <h2 class="text-center" style="font-family:'Harlow Solid'; color:darkturquoise">Hi! You may want to wear this today. </h2>

<div class="container">

    @foreach (var item in Model)
    {
        <div class="col-md-3" style="margin-bottom:25px">
            <div class="thumbnail" style="width: 100%; height:380px">
                <div class="thumbnail" style="width: 100%; height:250px; border-color:ghostwhite">

                    <div class="image" style="margin-bottom:20px">
                        <img class="img-responsive" src="@item.ImageUrl" height="270" width="160" style="display:block; margin-left:auto; margin-right:auto" />
                    </div>

                </div>
                <div class="caption" style="border-top:2px solid #808080; text-align:center">
                    <h3 style="font-family:'Imprint MT Shadow'"><a asp-action="Details" asp-route-id="@item.ID">@item.Name</a></h3>
                   
                </div>
            </div>
        </div>
    }

</div>

<div class="container-fluid main-container" style="padding-bottom:20px">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 content">
            <img src="~/images/cover.png" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
</div>

<div class="container-fluid main-container" style="padding-top:20px; padding-bottom:20px">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 content">
            <img src="~/images/backpack.png" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
</div>

<div class="container-fluid main-container" style="padding-top:20px; padding-bottom:20px">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 content">
            <img src="~/images/messy.png" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
</div>



